/* ============== COMMON STYLES ============== */
  body {font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;}

  .list {list-style-type: none;}

  .link {text-decoration: none;}


    ul {
        list-style: none;
        }

  h1,h2,h3,h4,h5,h6,p {margin-top: 0; ; margin-bottom: 0;}

  ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;}

  img {display: block;
  }   

  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }



  button {cursor: pointer}
  .pressbutton {color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    }



  button:hover {background-color: #404BBF;}
  button:focus {background-color: #404BBF;}

  .section-title {color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;}

/* ============== COMMON STYLES ============== */


/* ============== HEADER STYLES ============== */

.top-navigation {display: flex;
  justify-content: space-between;
  align-items: center;}
  
.nav {display: flex;
      gap: 40px;
      }

nav {margin-right: auto;}
.contacts {display: flex;
  
           }
.contacts-list {
       display: flex;
       gap: 40px;
        }

.header-container{display: flex;
 }



.top-header {border-bottom: 1px solid #e7e9fc;
}

.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

  .logo-plus {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

  .nav-link {
    display: block;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    padding: 24px 0;}

  .nav-link:hover, .nav-link:focus, nav-link:active {color: #404BBF ;}

  .contacts-link {
        display: block;
        color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 32px;
        padding: 24px 0;}

        .contacts {font-style: normal}



           
  .contacts-link:hover, .contacts-link:focus {color: #404BBF ;}

  /* ============== HEADER STYLES ============== */


  /* ============== SECTION-ONE STYLES ============== */

  h1 {color: #FFF;}
  .banner {background-color: #2E2F42;}
  .banner-item {color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    }

    .banner-section-title {

      margin-left: auto;
      margin-right: auto;
      padding: 188px 0
     }

      .banner-item-section-title {
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
    }

    /* ============== SECTION-ONE STYLES ============== */


    /* ============== SECTION-TWO STYLES ============== */

  .benefits-item {color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1/11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding: 120px 0}

    .benefits-item-section-title{padding: 120px 0;}

  .benefits-list 
    {color: var(--NAVY-BLUE, #2E2F42);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2; /* 120% */
        letter-spacing: 0.02em;
        margin-bottom: 8px;
      }

      .notitia {display: flex;
        gap: 24px;}

        .notitia-item {width: calc((100% - 72px) / 4);}
        

  .benefits-paragf
        {color: var(--SLATE, #434455);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;}

  /* ============== SECTION-TWO STYLES ============== */


  /* ============== SECTION-THREE STYLES ============== */
  .team-item {background-color: #F4F4FD;
    padding: 120px 0;}

  .team-item-section-title {margin-bottom: 72px;}
  

  .name {color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em;
            margin-bottom: 8px;}
         
  .work {color: var(--SLATE, #434455);
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5; /* 150% */
                letter-spacing: 0.02em;
              }

  .back {background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;}

  .employees {display: flex;
    gap: 24px;}

  .container-two {padding: 32px 0;
  }

  .frame {border: #2E2F42;}

/* ============== SECTION-THREE STYLES ============== */


/* ============== SECTION-FOUR STYLES ============== */

  .service {color: var(--NAVY-BLUE, #2E2F42);
                /* Header 3 */
                font-size: 20px;
                font-weight: 500;
                line-height: 1.2; /* 120% */
                letter-spacing: 0.02em;
                margin-bottom: 8px;}

  .category {color: var(--SLATE, #434455);
                /* Body */
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5; /* 150% */
                letter-spacing: 0.02em;}

  .portfolio-item {padding-top: 120px; padding-bottom: 120px;
    }    

  .portfolio-item-section-title {margin-bottom: 72px;}
    
  .portfolio-two {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; }

  .element-list {width: calc((100% - 48px) / 3);}
  
  .container-three {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
  }

  /* ============== SECTION-FOUR STYLES ============== */  

  
  /* ============== FOOTER STYLES ============== */
        
  .the-end {background-color: #2e2f42;
    padding: 100px 0}
  .logo-end {color: var(--IRIS, #4D5AE5);
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17; /* 116.667% */
            letter-spacing: 0.03em;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 16px;}
            
  .logo-end-plus {color: var(--CLOUD, #F4F4FD);
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17; /* 116.667% */
            letter-spacing: 0.03em;
            text-transform: uppercase;
            display: inline-block;}   

  .paragh {color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5; /* 150% */
        letter-spacing: 0.02em;
        max-width: 264px;}

/* ============== FOOTER STYLES ============== */
    
    


    